@charset "UTF-8";

{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-decoration: none;
color: rgba(84,253, 0, 0.03);
}

header {
    min-height: 9vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(84,253, 0, 0.19);
}


header h1 {
    font-size: 2.5rem;
    color: rgba(84, 253, 0, 0.19);
}

main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top,rgb(86, 112, 48), rgba(84, 253, 0, 0.19));

    display: flex;
    justify-content: center;

    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
}

main form {
    margin-top: 4%;
    width: 30%;
    height: 65vh;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .fazerLembrete {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

main form .inputs-lembretes {
    margin-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .lembretes-container input {
    width: 90%;
    height: 45px;
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;

    font-size: 16px;
    color: #312e42;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main form .inputs-container input:focus {
    box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
}

main form .lembretes-container {
    margin-top: 5%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .lembretes-container {
    margin-top: 5%;
    width: 100%;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .lembretes-container l {
    position: absolute;
    right: 8%;
    top: 35%;
    color: rgba(0, 81, 253, 0.7);
    cursor: pointer;
}

main form button {
    color: #00fd5c;
    background-color: rgba(31, 225, 1, 0.67);
    width: 90%;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin-top: 6%;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(86, 112, 48), #00fd5c);
}

main form button:hover {
    background: white;
    color: #7c3ac7;
}


